<div class="bg-white shadow">
  <div class="container mx-auto px-4 py-2 md:py-3"> <!--se a tela for no min 768px, ele aplica py-3-->
    <div class="flex justify-between items-center">
      <div class="flex justify-between text-lg md:text-xl font-bold">
        <img class="w-10 me-3" src="assets/img/twitter-logo.webp" alt="Logo Twitter">
        <h1>Twitter</h1>
      </div>

      <div class="relative">
        <div class="bg-blue-200 text-blue-600 flex items-center justify-center rounded-full w-10 h-10 cursor-pointer">
          User
        </div>
      </div>
    </div>
  </div>
</div>
